.wrapper {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  background-color: #efefef;
}

.nav {
  display: flex;

  height: 100px;

  background-color: red;
}

.nav_icon_box {
  display: flex;
  background-color: red;
}

.nav_icon {
  width: 30px;
  height: auto;
}

.nav_title {
  font-size: 32px;
}

.nav_search {
  background-color: green;
}

.nav_search > input {
  background-color: yellow;
}

.main_container {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: blue;
}
