.navbar {
  display: flex;
  justify-content: space-evenly;

  height: 100px;
  margin-bottom: 20px;
}

.navbar_left_wrapper {
  width: 28%;

  display: flex;
  justify-content: left;
  align-items: center;

  margin-left: 5%;
}

.navbar_left_wrapper :nth-child(2) {
  margin-left: 28px;
}

.navbar_icon_wrapper {
  width: 26px;
  height: 26px;

  opacity: 1;
  transition: 0.5s ease;
}

.navbar_icon_wrapper:hover {
  opacity: 0.5;
}

.navbar_center_wrapper {
  width: 33%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_title {
  font-size: 22px;
  font-weight: 600;

  opacity: 1;
  transition: 0.5s ease;
}

.navbar_title:hover {
  opacity: 0.5;
}

.navbar_right_wrapper {
  width: 28%;

  display: flex;
  justify-content: right;
  align-items: center;

  margin-right: 5%;
}

.nav_search {
  display: flex;
  justify-content: right;

  height: 35%;
}

.nav_search > input {
  text-align: right;

  margin-right: 10px;
  padding: 10px;

  width: 180px;
  height: 95%;

  border: none;
  border-radius: 8px;

  font-size: 12px;
  font-weight: 400;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  background-color: #f9f9f9;

  opacity: 0%;
  transition: 0.5s ease;
}

.nav_search:hover > input {
  opacity: 100%;
}

.nav_search > input:not(:placeholder-shown) {
  opacity: 100%;
}
