.post_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 20px; */

  height: calc(100vh - 120px);
  overflow: scroll;
}

.post_container {
  width: calc(100% - (100vw * 0.15));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.item_info_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}

.item_btn_wrapper {
  width: 28%;

  display: flex;
  justify-content: right;
  align-items: center;
}

.item_btn_icon_wrapper {
  width: 28px;
  height: 28px;

  opacity: 1;
  transition: 0.3s ease;
}

.item_btn_icon_wrapper:hover {
  opacity: 0.5;
}

.item_btn_wrapper .item_btn_icon_wrapper:nth-child(2) {
  margin-left: 8%;
}

.item_maintext_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
}

.item_image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.item_title {
  font-family: sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-align: left;
  margin-bottom: 24px;
}

.item_info {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  color: #888888;
  text-align: left;
}

.item_text {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #000000;
  text-align: left;
}
